@import url(./sidebar.css);
@import url(./social-nets.css);

.page-content__container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 26%;
}
.header {
  margin-bottom: 24px;
}
.main-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.nav__list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav__page-link:before {
  content: "";
  margin-right: 17px;
  /* display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 19px;
  background: center center / contain no-repeat; */
}

.nav__page-link {
  display: flex;
  align-items: center;
  color: #4b73b5;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  transition: color .3s;
}

.nav__page-link:hover {
  color: #000;
  transition: color .3s;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 91px;
  margin-bottom: 13px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item--active .nav__page-link {
  color: #000;
}

.nav__item--active .nav__page-link--feed--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -50px -48px;
}



.nav__page-link--main--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -96px -48px;
  z-index: 10;
  opacity: 1;
  transition: opacity .3s;
}

.nav__page-link--main--icon:after {
  position: absolute;
  content: "";
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -96px -10px;
}

.nav__page-link--main--icon:hover:before {
  opacity: 0;
  transition: opacity .3s;
}

.nav__page-link--feed--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -10px -48px;
  z-index: 10;
  opacity: 1;
  transition: opacity .3s;
}

.nav__page-link--feed--icon:after {
  position: absolute;
  content: "";
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -50px -48px;
}

.nav__page-link--feed--icon:hover:before {
  opacity: 0;
  transition: opacity .3s;
}
.nav__page-link--team--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -10px -10px;
  z-index: 10;
  opacity: 1;
  transition: opacity .3s;
}

.nav__page-link--team--icon:after {
  position: absolute;
  content: "";
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -53px -10px;
}

.nav__page-link--team--icon:hover:before {
  opacity: 0;
  transition: opacity .3s;
}

.page-content {
  flex-grow: 1;
  margin-bottom: 49px;
}

.breadcrumps {
  display: flex;
  font-family: "roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 14px;
}

.breadcrumps__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.breadcrumps__item-link {
  color: #1c5bc3;
  text-decoration: underline;
}

.breadcrumps__list li:after {
  content: "/";
}

.breadcrumps__item--last:after {
  display: none;
}

.airplanet-logo {
  padding-top: 13px;
}

.comments {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.comments__title {
  display: flex;
  font-family: "roboto", sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: bold;
  margin: 0px 0px 43px;
}

.comments__pic-container {
  display: block;
  min-width: 173px;
  max-height: 173px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 26px;
}

.comments__pic-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comments__posts {
  display: flex;
  flex-direction: column;
}

.comments__post {
  display: flex;
  border-bottom: solid 2px #f5f5f5;
  margin-bottom: 30px;
  min-height: 190px;
}

.comments__post:last-child {
  margin-bottom: 0px;
}

.comments__post:last-child {
  margin-bottom: 0px;
}

.comments__post-date {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  margin-bottom: 3px;
}

.comments__post-subject {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  line-height: 21px;
  padding: 0px;
  margin: 0px;
}

.comments__post-text {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  margin-top: 10px;
}

.comments__post-item {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.pagination {
  display: flex;
  flex-grow: 1;
  padding-bottom: 59px;
}

.pagination__container {
  display: flex;
}

.pagination__display {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  height: 25px;
}

.pagination__list {
  display: flex;
  font-size: 0px;
  padding-left: 0px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
}

.pagination__button {
  display: flex;
  text-decoration: none;
  color: #656464;
  vertical-align: middle;
}

.pagination__link {
  display: flex;
  text-decoration: none;
  color: #000;
  transition: color .3s;
}

.pagination__link:hover {
  color: #1c5bc3;
  transition: color .3s;
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__item--active {
  background: #4b73b5;
}

.pagination__item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
  text-decoration: none;
}

.pagination__display-text {
  display: flex;
  align-items: center;
}

.support {
  margin-bottom: 27px;
}

.support__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  line-height: 1.667;
}

.support__block {
  background-image: url(../img/support_bg.png);
  width: 88%;
}
.support__msg {
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 26px 10px;
}

.support__msg-hint {
  text-decoration: underline;
}

.support__msg-number,
.support__msg-hint {
  font-weight: bold;
}

.form__container {
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  width: 86.5%;
  background: #f5f5f5;
}

.form__elem {
  width: 100%;
  margin: 6.5% 13%;
}

.form__title {
  font-family: "roboto";
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.78;
  color: #221f1f;
  margin-bottom: 25px;
}

.form-section {
  margin-bottom: 0px;
}

.form__row {
  display: flex;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #221f1f;
}

.form__block {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 23px;
  margin-bottom: 21px;
}

.form__block:first-child {
  margin-left: 0;
}

.form__block-title {
  padding-bottom: 9px;
}

.form__question {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form__question-option {
  display: flex;
}

.form__question-options {
  display: flex;
  flex-wrap: wrap;
}

.form__question-title {
  flex-basis: 100%;
}

.form__input {
  border: none;
  background: #fff;
  border-radius: 3px;
  padding: 12px 9px;
  outline: none;
  border: solid 1px transparent;
}

.form__input:focus {
  border-color: #4b73b5;
}

.form__input::placeholder {
  color: rgba(34, 31, 31, 0.5);
}

.form__input--textarea {
  min-height: 63px;
  resize: vertical;
  width: 97%;
}

.form__question-option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.form__question-options {
display: flex;
flex-direction: column;
}

.form__question-labels {
display: flex;
}

.form__question-text {
  margin-bottom: 7px;
}


.form__question-option input {
  display: none;
}

.form__question-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form__question-inner {
  display: none;
  min-width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1c5bc3;
}

.form__question-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px #cacaca;
  margin-right: 4px;
}

.form__question-choose:checked + .form__question-radio {
  border: solid 1px #1c5bc3;
}
.form__question-choose:checked ~ .form__question-title {
  color: #1c5bc3;
}

.form__question-choose:checked + .form__question-radio .form__question-inner {
  display: block;
}

.form__submit-img {
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 3px;
  border: solid 1px #1c5bc3;
  text-transform: uppercase;
  font-family: "roboto";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  padding: 14.5px 19px;
  letter-spacing: 2.4px;
  color: #fff;
  background: #1c5bc4;
  text-decoration: none;
  transition: background .3s, color .3s;
}

.form__submit-img:after {
  display: inline-block;
  content: "";
  margin-left: 8px;
  width: 15px;
  height: 14px;
  background: url(../img/intro_sprite.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  background-position: -5px -19px;
}

.form__submit-img:before {
  display: inline-block;
  position: absolute;
  content: "";
  left: 111px;
  margin-left: 8px;
  width: 15px;
  height: 14px;
  background: url(../img/intro_sprite.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  background-position: -5px -0px;
  opacity: 0;
  transition: opacity .3s;
}

.form__submit-img:hover:before {
  opacity: 1;
}

.form__submit-img:hover {
  transition: .3s;
  background: #fff;
  color: #1c5bc4;
  cursor: pointer;
}

.form__submit-img:active:before {
  opacity: 1;
}

.form__submit-img:active {
  transition: .3s;
  background: #fff;
  color: #1c5bc4;
  cursor: pointer;
}

.form__button {
  position: relative;
}

.form__submit-button {
  display: none;
}