@import url(./sidebar.css);
@import url(./social-nets.css);

.page-content__container {
  display: flex;
  min-height: 100%;
  margin-bottom: 60px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 26%;
}
.header {
  margin-bottom: 25px;
}
.main-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.nav__list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav__page-link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 19px;
  margin-right: 17px;
  background: center center / contain no-repeat;
}

.nav__page-link {
  display: flex;
  align-items: center;
  color: #4b73b5;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
}

.nav__page-link:hover {
  color: #000;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 90px;
  margin-bottom: 13px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item--active .nav__page-link {
  color: #000;
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('../img/main_icon_active.png');
}

.nav__page-link--main--icon:before {
  background-image: url('../img/main_icon.png');
}

.nav__page-link--feed--icon:before {
  background-image: url('../img/feed_icon.png');
}

.nav__page-link--team--icon:before {
  background-image: url('../img/team_icon.png');
}

.nav__page-link--main--icon:hover:before {
  background-image: url('../img/main_icon_active.png');
}

.nav__page-link--feed--icon:hover:before {
  background-image: url('../img/feed_icon_active.png');
}

.nav__page-link--team--icon:hover:before {
  background-image: url('../img/team_icon_active.png');
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('../img/main_icon_active.png');
}

.nav__item--active .nav__page-link--feed--icon:before {
  background-image: url('../img/feed_icon_active.png');
}

.nav__item--active .nav__page-link--team--icon:before {
  background-image: url('../img/team_icon_active.png');
}

.page-content {
  flex-grow: 1;
}

.breadcrumps {
  display: flex;
  font-family: "roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 14px;
}

.breadcrumps__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.breadcrumps__item-link {
  color: #1c5bc3;
  text-decoration: underline;
}

.breadcrumps__list li:after {
  content: "/";
}

.breadcrumps__item--last:after {
  display: none;
}

.airplanet-logo {
  padding-top: 13px;
}

.comments {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.comments__title {
  display: flex;
  font-family: "roboto", sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: bold;
  margin: 0px 0px 43px;
}

.comments__pic-container {
  display: block;
  min-width: 173px;
  max-height: 173px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 26px;
}

.comments__pic-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comments__posts {
  display: flex;
  flex-direction: column;
}

.comments__post {
  display: flex;
  border-bottom: solid 2px #f5f5f5;
  margin-bottom: 30px;
  min-height: 190px;
}

.comments__post:last-child {
  margin-bottom: 0px;
}

.comments__post:last-child {
  margin-bottom: 0px;
}

.comments__post-date {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  margin-bottom: 3px;
}

.comments__post-subject {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  line-height: 21px;
  padding: 0px;
  margin: 0px;
}

.comments__post-text {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  margin-top: 10px;
}

.comments__post-item {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.pagination {
  display: flex;
  flex-grow: 1;
  padding-bottom: 59px;
}

.pagination__container {
  display: flex;
}

.pagination__display {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  height: 25px;
}

.pagination__list {
  display: flex;
  font-size: 0px;
  padding-left: 0px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
}

.pagination__button {
  display: flex;
  text-decoration: none;
  color: #656464;
  vertical-align: middle;
}

.pagination__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__item--active {
  background: #4b73b5;
}

.pagination__item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
  text-decoration: none;
}

.pagination__display-text {
  display: flex;
  align-items: center;
}

.support {
  margin-bottom: 27px;
}

.support__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  line-height: 1.667;
}

.support__block {
  background-image: url(../img/support_bg.png);
  width: 88%;
}
.support__msg {
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 26px 10px;
}

.support__msg-hint {
  text-decoration: underline;
}

.support__msg-number,
.support__msg-hint {
  font-weight: bold;
}

.form__container {
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  width: 86.5%;
  background: #f5f5f5;
}

.form__elem {
  width: 100%;
  margin: 6.5% 13%;
}

.form__title {
  font-family: "roboto";
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.78;
  color: #221f1f;
  margin-bottom: 25px;
}

.form-section {
  margin-bottom: 0px;
}

.form__row {
  display: flex;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #221f1f;
}

.form__block {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 23px;
  margin-bottom: 21px;
}

.form__block:first-child {
  margin-left: 0;
}

.form__block-title {
  padding-bottom: 9px;
}

.form__question {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form__question-option {
  display: flex;
}

.form__question-options {
  display: flex;
  flex-wrap: wrap;
}

.form__question-title {
  flex-basis: 100%;
}

.form__input {
  border: none;
  background: #fff;
  border-radius: 3px;
  padding: 12px 9px;
  outline: none;
  border: solid 1px transparent;
}

.form__input:focus {
  border-color: #4b73b5;
}

.form__input::placeholder {
  color: rgba(34, 31, 31, 0.5);
}

.form__input--textarea {
  min-height: 63px;
  resize: vertical;
  width: 97%;
 
}
.form__submit-button {
  /* display: none; */
}