.footer {
  background: #4b73b5;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  width: 100%;
}

.social-nets a {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.social-nets,
.social-nets__item, .social-nets__title {
  display: flex;
  color: #fff;
}

.about-authors {
  font-family: 'roboto', serif;
  font-size: 14px;
  font-weight: 300;
  max-width: 237px;
  padding-left: 20px;
  color: #fff;
}
.about-authors a {
  text-decoration: underline;
}


.social-nets__title {
  font-family: 'roboto', serif;
  font-size: 14px;
  font-weight: bold;
}

.social-nets {
  flex-direction: column;
  padding-right: 20px;
  justify-content: space-between;
  min-height: 45px;
  padding: 0px 20px 0px 0px;
  /* width: 237px; */
}

.social-nets__links {
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0 12px 0 0;
}

.social-nets__item {
  flex-direction: row;
  display: flex;
}

.social-nets ul {
  display: flex;
}
.social-nets__item a {
  /* position: relative;
  display: inline-block; */
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  width: 20px;
  height: 20px;
}

.social-nets__item img {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: auto;
}
.loftschool-link {
  display: inline;
  color: #fff;
  font-weight: bold;
}