@import url(./sidebar.css);
@import url(./social-nets.css);

.header {
  margin-bottom: 24px;
}

.nav__list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav__page-link:before {
  content: "";
  margin-right: 17px;
}

.nav__page-link {
  display: flex;
  align-items: center;
  color: #4b73b5;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  transition: color .3s;
}

.nav__page-link:hover {
  color: #000;
  transition: color .3s;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 91px;
  margin-bottom: 13px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item--active .nav__page-link {
  color: #000;
}

.nav__item--active .nav__page-link--main--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -96px -10px;
}


.nav__page-link--main--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -96px -48px;
  z-index: 10;
  opacity: 1;
  transition: opacity .3s;
}

.nav__page-link--main--icon:after {
  position: absolute;
  content: "";
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -96px -10px;
}

.nav__page-link--main--icon:hover:before {
  opacity: 0;
  transition: opacity .3s;
}

.nav__page-link--feed--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -10px -48px;
  z-index: 10;
  opacity: 1;
  transition: opacity .3s;
}

.nav__page-link--feed--icon:after {
  position: absolute;
  content: "";
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -50px -48px;
}

.nav__page-link--feed--icon:hover:before {
  opacity: 0;
  transition: opacity .3s;
}
.nav__page-link--team--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -10px -10px;
  z-index: 10;
  opacity: 1;
  transition: opacity .3s;
}

.nav__page-link--team--icon:after {
  position: absolute;
  content: "";
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -53px -10px;
}

.nav__page-link--team--icon:hover:before {
  opacity: 0;
  transition: opacity .3s;
}

/* .nav__page-link--main--icon:hover:before {
  width: 17px; height: 18px;
  background: url('../img/nav_sprites.png') -96px -10px;
  transition: background .3s;
} */

/* .nav__item--active .nav__page-link--main--icon:before {
  width: 17px; height: 18px;
  background: url('../img/nav_sprites.png') -96px -10px;
}

.nav__page-link--feed--icon:before {
  width: 20px; height: 18px;
  background: url('../img/nav_sprites.png') -10px -48px;
}

.nav__page-link--feed--icon:hover:before {
  width: 20px; height: 18px;
  background: url('../img/nav_sprites.png') -50px -48px;
}

.nav__item--active .nav__page-link--feed--icon:before {
  width: 20px; height: 18px;
  background: url('../img/nav_sprites.png') -50px -48px;
}

.nav__page-link--team--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -10px -10px;
}


.nav__page-link--team--icon:hover:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -53px -10px;
}

.nav__item--active .nav__page-link--team--icon:before {
  width: 23px; height: 18px;
  background: url('../img/nav_sprites.png') -53px -10px;
} */

.page-content__container {
  display: flex;
  min-height: 100%;
  margin-bottom: 47px;
}

.main-content {
  flex-grow: 1;
  flex-direction: column;
}

/* 
.rates {
  display: flex;
  flex-direction: column;
}

.rates__list {
  display: flex;
  width: 85%;
  justify-content: space-between;
  padding: 0px;
  margin: 0 0 78px 12px;
} */
.rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 27px;
}

.rate__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  padding-top: 26px;
  padding-bottom: 18px;
  border: solid 1px #e8e9ed;
  background-color: #fff;
}

.rate__title {
  font-family: "roboto";
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 4.68;
  letter-spacing: 2.64px;
  text-align: center;
  color: #212121;
}

.rate__item-list {
  display: flex;
  flex-direction: column;
}

.rate__item-list li {
  text-align: left;
  line-height: 30px;
}

.rate__item-list li:before {
  display: inline-block;
  content: "●";
  font-size: 9px;
  vertical-align: top;
  margin-right: 20px;
}

.rate__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #221f1f;
}


.rate__price {
  font-family: "roboto", sans-serif;
  font-size: 53.89px;
  font-style: normal;
  font-weight: normal;
  margin: 12px 0;
}

.rate__price:before {
  content: "$";
  font-size: 27px;
}


.rate__desc-title {
  width: 70%;
  line-height: 30px;
  text-align: left;
  margin-bottom: 5px;
}

.rate__desc-item {
  margin-bottom: 4px;
}

.rate__desc-item:last-child {
  margin-bottom: 0;
}

.rate__toprate-title {
  font-family: "roboto";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #221f1f;
  margin-bottom: 8px;
}

.rate__item-list {
  width: 70%;
}

/* 
.rates__title {
  font-family: "roboto", sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 74px;
  color: #221f1f;
}

.rates__item h4 {
  font-family: "roboto", sans-serif;
  font-size: 10.78px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2.6px;
  margin-bottom: 17px;
} */

/* .rates__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.rates__logo-container {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  background: #4b73b5;
  width: 72px;
  height: 72px;
  margin-bottom: 27px;
  justify-content: center;
  align-items: center;
} */

.airplanet-logo {
  margin-bottom: 3px;
}

.news {
  margin-left: 3px;
  margin-bottom: 45px;
}

.news__post {
  display: flex;
  flex-direction: column;
  width: 32%;
  align-items: center;
  display: flex;
  margin-right: 8px;
}

.news__post:last-child {
  margin-right: 0px;
}

.news__title {
  font-family: "roboto", sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: bold;
  margin: 0px 0px 40px;
}

.news__pic-container {
  display: flex;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
  margin-bottom: 42px;
}

.news__posts {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.news__post-date {
  display: inline-block;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  margin-bottom: 9px;
}

.news__post-subject {
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  padding: 0px;
  margin: 0 0 6px;
}

.news__post-text {
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  line-height: 21px;
  margin: 0;
}

.news__post-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 93%;
}

.pagination {
  display: flex;
  flex-grow: 1;
}

.pagination__container {
  display: flex;
  justify-content: center;
}

.pagination__display {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  height: 25px;
}

.pagination__list {
  display: flex;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
}

.pagination__button {
  display: flex;
  text-decoration: none;
  color: #656464;
}

.pagination__link {
  display: flex;
  text-decoration: none;
  color: #000;
  transition: color .3s;
}

.pagination__link:hover {
  color: #1c5bc3;
  transition: color .3s;
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__item--active {
  background: #4b73b5;
}

.pagination__item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
  text-decoration: none;
}

.pagination__display-text {
  display: flex;
  align-items: center;
}