.social-nets {
  flex-direction: column; 
  width: 50%;
  padding-right: 20px;
  justify-content: space-between;
  padding: 0px;
}

.social-nets a {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.social-nets,
.social-nets__item, .social-nets__title {
  display: flex;
  color: #fff;
}

.social-nets__title {
  font-family: 'roboto', serif;
  font-size: 14px;
  font-weight: bold;
  color: #2d1d1d;
  justify-content: center;
  margin-bottom: 6px;
}


.social-nets__links {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0;
}

.social-nets__item {
  flex-direction: row;
  display: flex;
}

.social-nets ul {
  display: flex;
}
.social-nets__item a {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  width: 20px;
  height: 20px;
}

.social-nets__item img {
  margin: auto;
}
