@import url(./sidebar.css);
@import url(./social-nets.css);

.header {
  margin-bottom: 24px;
}

.page-content__container {
  display: flex;
  min-height: 100%;
}

.nav__list {
  display: flex;
  margin: 0 0 28px;
  padding: 0px;
}

.nav__page-link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 19px;
  margin-right: 17px;
  background: center center / contain no-repeat;
}

.nav__page-link {
  display: flex;
  align-items: center;
  color: #4b73b5;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
}

.nav__page-link:hover {
  color: #000;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 90px;
  margin-bottom: 13px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item--active .nav__page-link {
  color: #000;
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('../img/main_icon_active.png');
}

.nav__page-link--main--icon:before {
  background-image: url('../img/main_icon.png');
}

.nav__page-link--feed--icon:before {
  background-image: url('../img/feed_icon.png');
}

.nav__page-link--team--icon:before {
  background-image: url('../img/team_icon.png');
}

.nav__page-link--main--icon:hover:before {
  background-image: url('../img/main_icon_active.png');
}

.nav__page-link--feed--icon:hover:before {
  background-image: url('../img/feed_icon_active.png');
}

.nav__page-link--team--icon:hover:before {
  background-image: url('../img/team_icon_active.png');
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('../img/main_icon_active.png');
}

.nav__item--active .nav__page-link--feed--icon:before {
  background-image: url('../img/feed_icon_active.png');
}

.nav__item--active .nav__page-link--team--icon:before {
  background-image: url('../img/team_icon_active.png');
}

.main-content {
  display: flex;
  flex-direction: column;
}
/* .breadcrumps {
  display: flex;
  font-family: "roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 24px;
  padding-left: 10px;
}

.breadcrumps__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.breadcrumps__item-link {
  color: #1c5bc3;
  text-decoration: underline;
}

.breadcrumps__list li:after {
  content: "/";
}
.breadcrumps__list li:last-child::after {
  display: none;
} */
.team {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
}
.team__title {
  font-family: 'roboto';
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: left;
  color: #221f1f;
  margin-bottom: 49px;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}
.team__member {
  flex-basis: 32%;
  margin-bottom: 45px;
  margin-right: 10px;
}
.team__member:nth-child(n+3) {
  margin-bottom: 0px;
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__logo-container {
  display: flex;
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  border: solid 3px #577cba;
}
.team__logo-container::after {
  content: "";
  position: absolute;
  background: rgba(75, 115, 181, 0.6);;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.team__logo-name {
  position: absolute;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  z-index: 10;
}
.team__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__member-profile {
  margin: 0;
  padding: 0 6.05% 0;
}
.team__name {
  font-family: 'roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: #221f1f;
  line-height: 21px;
} 
.team__position {
  font-family: 'roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #4b73b5;
  line-height: 21px;  
  margin-bottom: 5px;
}
.team__member-profile {
  text-align: center;
  font-family: 'roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #221f1f;
  line-height: 21px;  
}
.partners {
  /* margin-bottom: 74px; */
  display: flex;
  border: solid 1px #e8e9ed;
  flex-direction: column;
  width: 86%;
  padding-top: 20px;
  padding-bottom: 26px;
  margin-bottom: 28px;
}
.partners__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__title {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 2.11;
  letter-spacing: normal;
  color: #221f1f;
  align-self: center;
}
.partners__partner {
  display: flex;
  flex-basis: 33.3%;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 52px;
  min-height: 49px;
}
.partners__partner:last-child {
  margin-bottom: 0;
}
.partners__pic {
  margin: auto;
  filter: grayscale(100%);
}

.partners__pic:hover {
  filter: grayscale(0%);
  cursor: pointer;
}
