@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-light-webfont.woff2') format('woff2'),
    url('./fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
    url('./fonts/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('./fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

body {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.header {
  background: #4b73b5;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  margin-bottom: 45px;
}

.logo {
  padding-left: 19px;
}

.contacts {
  padding-right: 20px;
  flex-shrink: 0;
}

.contacts__phone {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

.contacts__schedule {
  color: #fff;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  text-decoration: underline;
}


.main-content {
  flex-grow: 1;
}

.nav,
.main-content {
  display: flex;
  flex-wrap: wrap;
}
ul li {
  list-style: none;
}

.page-content__container {
  display: flex;
  margin-bottom: 65px;
}

.page-content {
  flex-grow: 1;
}

.nav__list {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  padding-left: 18px;
  width: 181px;
}

.nav__page-link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 19px;
  margin-right: 17px;
  background: center center / contain no-repeat;
}

.nav__page-link {
  display: flex;
  align-items: center;
  color: #4b73b5;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
}

.nav__page-link:hover {
  color: #000;
}

.nav__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 29px;
}

.nav__item:last-child {
  margin-bottom: 0px;
}

.nav__item--active .nav__page-link {
  color: #000;
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('./img/main_icon_active.png');
}

.nav__page-link--main--icon:before {
  background-image: url('./img/main_icon.png');
}

.nav__page-link--feed--icon:before {
  background-image: url('./img/feed_icon.png');
}

.nav__page-link--team--icon:before {
  background-image: url('./img/team_icon.png');
}

.nav__page-link--main--icon:hover:before {
  background-image: url('./img/main_icon_active.png');
}

.nav__page-link--feed--icon:hover:before {
  background-image: url('./img/feed_icon_active.png');
}

.nav__page-link--team--icon:hover:before {
  background-image: url('./img/team_icon_active.png');
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('./img/main_icon_active.png');
}

.nav__item--active .nav__page-link--feed--icon:before {
  background-image: url('./img/feed_icon_active.png');
}

.nav__item--active .nav__page-link--team--icon:before {
  background-image: url('./img/team_icon_active.png');
}

.breadcrumps {
  display: flex;
  font-family: "roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 14px;
}

.breadcrumps__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.breadcrumps__item-link {
  color: #1c5bc3;
}

.breadcrumps__list li:after {
  content: "/";
}

.breadcrumps__item--last:after {
  display: none;
}

.airplanet-logo {
  padding-top: 13px;
}

.comments {
  display: flex;
  flex-wrap: wrap;
}

.comments__title {
  display: flex;
  font-family: "roboto", sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: bold;
  margin: 0px 0px 36px;
}

.comments__pic-container {
  display: block;
  min-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 22px;
}

.comments__pic-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comments__posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.comments__post:last-child {
  margin-bottom: 0px;
}

.comments__post {
  display: flex;
  /* margin-bottom: 59px; */
  min-height: 222px;
}

.comments__post-date {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  line-height: 21px;
  padding-bottom: 3px;
}

.comments__post-subject {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  line-height: 21px;
  padding: 0px;
  margin: 0px;
}

.comments__post-text {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  margin-top: 10px;
}

.comments__post-item {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.comments__post:last-child {
  min-height: 213px;
}

.pagination {
  display: flex;
  flex-grow: 1;
}

.pagination__container {
  display: flex;
}

.pagination__display {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  height: 25px;
}

.pagination__list {
  display: flex;
  font-size: 0px;
  padding-left: 0px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
}

.pagination__button {
  display: flex;
  text-decoration: none;
  color: #656464;
  vertical-align: middle;
}

.pagination__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__item--active {
  background: #4b73b5;
}

.pagination__item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
  text-decoration: none;
}

.pagination__display-text {
  display: flex;
  align-items: center;
}

.support {
  background-image: url(./img/support_bg.png);
}

.support__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  line-height: 1.667;
  margin-bottom: 107px;
}

.support__msg {
  display: flex;
  width: 639px;
  height: 170px;
  align-items: center;
  margin: 0px;
}
.feedback__container {
  width: 562px;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  display: flex;
  font-size: 14px;
  font-family: "roboto", serif;
  color: rgb(34, 31, 31);
}
.feedback__form-label {
flex-grow: 1;
}
.feedback__form-title {
  font-family: "roboto", serif;
  font-size: 49px;
  font-style: normal;
  font-weight: bold;
  line-height: 0.776;
  margin: 0px 0px 24px;
}
.feedback__form-recepient {
  display: flex;
  justify-content: space-between;
}
.feedback__form-recepient label {
  flex-grow: 1;
}
.feedback__form-input {
  border: none;
  width: 100%;
  padding: 9px;
}
.feedback__form-input:focus {
  outline: 1px solid #4b73b5;
}
.feedback__answer-comment {
  min-height: 90px;
  resize: vertical;
}
.feedback__form-name {
  margin-bottom: 5px;
}

.footer {
  display: flex;
  background: #4b73b5;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  width: 100%;
}

.footer__container a {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.about-authors,
.social-nets,
.social-nets__item, .social-nets__title {
  display: flex;
  color: #fff;
}

.about-authors {
  font-family: 'roboto', serif;
  font-size: 14px;
  font-weight: 300;
  max-width: 237px;
  padding-left: 20px;
}

.social-nets__title {
  font-family: 'roboto', serif;
  font-size: 14px;
  font-weight: bold;
}

.social-nets {
  flex-direction: column;
  padding-right: 20px;
  justify-content: space-between;
  min-height: 45px;
  padding: 0px 20px 0px 0px;
}

.social-nets__links {
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0 12px 0 0;
}

.social-nets__item {
  flex-direction: row;
  display: flex;
}

.social-nets ul {
  display: flex;
}
.social-nets__item a {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  width: 20px;
  height: 20px;
}

.social-nets__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loftschool-link {
  display: inline;
}