@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-light-webfont.woff2') format('woff2'),
    url('./fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
    url('./fonts/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('./fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

body {
  margin: 0px;
  box-sizing: border-box;
}

.header {
  background: #4b73b5;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.header__container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.logo {
  padding: 18px 0px 18px 19px;
}

.contacts {
  padding: 18px 20px 18px;
}

.contacts__phone {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

.contacts__schedule {
  color: #fff;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  text-decoration: underline;
}

.nav,
.main-content {
  display: inline-flex;
  flex-wrap: wrap;
}

.nav {
  width: 18%;
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  padding-left: 18px;
}

.main-content {
  width: 82%;
}

.breadcrumps {
  display: flex;
  font-family: "roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 14px;
}

.breadcrumps__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.breadcrumps__list li:after {
  content: "/";
}

.breadcrumps__item--last:after {
  display: none;
}

.page-content__container {
  padding-bottom: 54px;
  font-size: 0px;
}

ul li {
  list-style: none;
}

.nav__page-link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 19px;
  margin-right: 17px;
  background: center center / contain no-repeat;
}

.nav__page-link {
  display: inline-block;
  color: #4b73b5;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
}

.nav__page-link:hover {
  color: #000;
}

.nav__item {
  margin-bottom: 29px;
}

.nav__item:last-child {
  margin-bottom: 0px;
}

.nav__item--active .nav__page-link {
  color: #000;
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('./img/main_icon_active.png');
}

.nav__page-link--main--icon:before {
  background-image: url('./img/main_icon.png');
}

.nav__page-link--feed--icon:before {
  background-image: url('./img/feed_icon.png');
}

.nav__page-link--team--icon:before {
  background-image: url('./img/team_icon.png');
}

.nav__page-link--main--icon:hover:before {
  background-image: url('./img/main_icon_active.png');
}

.nav__page-link--feed--icon:hover:before {
  background-image: url('./img/feed_icon_active.png');
}

.nav__page-link--team--icon:hover:before {
  background-image: url('./img/team_icon_active.png');
}

.nav__item--active .nav__page-link--main--icon:before {
  background-image: url('./img/main_icon_active.png');
}

.nav__item--active .nav__page-link--feed--icon:before {
  background-image: url('./img/feed_icon_active.png');
}

.nav__item--active .nav__page-link--team--icon:before {
  background-image: url('./img/team_icon_active.png');
}

.airplanet-logo {
  padding-top: 13px;
}

.comments {
  flex-wrap: wrap;
  display: flex;
}

.comments__title {
  display: flex;
  font-family: "roboto", sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: bold;
  margin: 0px 0px 36px;
}

.comments__pic-container {
  display: flex;
  min-width: 160px;
  min-height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 22px;
}

.comments__pic-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comments__posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.comments__post:last-child {
  margin-bottom: 0px;
}

.comments__post {
  display: flex;
  margin-bottom: 59px;
}

.comments__post-date {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  line-height: 21px;
  padding-bottom: 3px;
}

.comments__post-subject {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  line-height: 21px;
  padding: 0px;
  margin: 0px;
}

.comments__post-text {
  display: flex;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  margin-top: 10px;
}

.comments__post-item {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.comments {
  margin-bottom: 37px;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination__pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__display {
  display: flex;
  vertical-align: top;
  width: 110px;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  height: 25px;
}

.pagination__list {
  display: flex;
  font-size: 0px;
  padding-left: 0px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
}

.pagination__button {
  display: flex;
  text-decoration: none;
  color: #000;
  vertical-align: middle;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: ;
  text-decoration: none;
  color: #000;
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__item--active {
  background: #4b73b5;
}

.pagination__item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  overflow: hidden;
  text-decoration: none;
}

.pagination__display-text {
  display: flex;
  align-items: center;
}
.feedback {
  font-size: 14px;
}
.footer {
  background: #4b73b5;
}

.footer__container {
  position: relative;
  vertical-align: middle;
  height: 76px;
}

.about-authors,
.social-nets,
.social-nets__item {
  display: inline-block;
  color: #fff;
}

.footer__container a {
  color: #fff;
}

.about-authors {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  width: 230px;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.social-nets__title {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo-pic {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.social-nets {
  display: block;
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
}

.social-nets__item:nth-child(5n) {
  margin-right: 0px;
}

.social-nets h4 {
  margin: 0px 0px 8px;
}

.social-nets__links {
  margin: 0px;
  padding: 0px;
}

.social-nets__item {
  margin-right: 6px;
  vertical-align: top;
}

.social-nets__item a {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  background: #fff;
  width: 20px;
  height: 20px;
}

.social-nets__item img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}